guardicore:
  management_url: "cus-NNNN.cloud.guardicore.com"
  username: ""
  password: ""
  report_only: false

rules:

  domain-specific-workstations:
    enabled: false
    patterns:
      guest_agent_details.hostname: 
        - "^.*\\.example\\.com"
      guest_agent_details.os_details.os_display_name: "^.*Windows [^(Server)].*$"
    labels:
      Asset Type: Workstation
      Organization: Example
    source_field_labels:
      Operating System: guest_agent_details.os_details.os_display_name

  asset-type-servers:
    enabled: true
    patterns:
      guest_agent_details.os_details.os_display_name: "^.*Server.*$"
    labels:
      Asset Type: Server
    source_field_labels:
      Operating System: guest_agent_details.os_details.os_display_name

  asset-type-workstations:
    enabled: true
    patterns:
      guest_agent_details.os_details.os_display_name: "^.*Windows [^(Server)].*$"
    labels:
      Asset Type: Workstation
      Application: User Endpoints
      Environment: Users
    source_field_labels:
      Operating System: guest_agent_details.os_details.os_display_name

  servers-production:
    enabled: false
    patterns:
      guest_agent_details.hostname:
        - "^\\w{3}[L|W|A]P[V|P].*"
      guest_agent_details.os_details.os_display_name: "^.*Server.*$"
    labels:
      Environment: Production    

  servers-qa:
    enabled: false
    patterns:
      guest_agent_details.hostname:
        - "^\\w{3}[L|W|A]Q[V|P].*"
      guest_agent_details.os_details.os_display_name: "^.*Server.*$"
    labels:
      Environment: QA

  servers-dev:
    enabled: false
    patterns:
      guest_agent_details.hostname:
        - "^\\w{3}[L|W|A]D[V|P].*"
      guest_agent_details.os_details.os_display_name: "^.*Server.*$"
    labels:
      Environment: Development

  servers-test:
    enabled: false
    patterns:
      guest_agent_details.hostname:
        - "^\\w{3}[L|W|A]T[V|P].*"
      guest_agent_details.os_details.os_display_name: "^.*Server.*$"
    labels:
      Environment: Test
    